# [include klicky/klicky-probe.cfg]
[save_variables]
filename: ~/printer_data/config/variables.cfg

[gcode_arcs]
resolution: 0.2

[rounded_path]
resolution: 0.2
replace_g0: True

[include mcu.cfg]
[include stealthburner_leds.cfg]
# [include OrbiterSensor.cfg]
[include KAMP_Settings.cfg]

# Tapchanger includes
[include tapchanger/tool_detection.cfg]
[include tapchanger/liftbar.cfg]
[include tapchanger/toolchanger.cfg]
[include tapchanger/toolhead_0.cfg]
[include tapchanger/toolhead_1.cfg]
[include tapchanger/toolhead_2.cfg]
[include tapchanger/toolhead_3.cfg]
[include tapchanger/toolhead_4.cfg]

[include tapchanger/homing.cfg]
[include tapchanger/calibrate-offsets.cfg]
[include tapchanger/macros.cfg]

[include timelapse.cfg]

[include mainsail.cfg]
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 5.0  ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 295.0  ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 20.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 295.0 ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 295.0 ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 36000     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : "_SAVE_TOOLS_TEMP"    ; Everything insight the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: "_RESTORE_TOOLS_TEMP"    ; Everything insight the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: ""    ; Everything insight the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:


[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 10000    			#Max 4000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[exclude_object]

[force_move]
enable_force_move: True
#   设置为true来启用 FORCE_MOVE 和 SET_KINEMATIC_POSITION 扩展 
#   G代码命令。
#   默认为false。

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 50  
    
[z_tilt]
z_positions:
    150,335
    335,-35
    -35,-35

#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points:
    150,280
    280,10
    20,10

#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 200
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 20
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 4
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.02
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.

    

[bed_mesh]
mesh_min: 30,30
mesh_max: 270,270
speed: 100
horizontal_move_z: 5 

probe_count: 5,5					#if you would like more detail, use 5,5 here
#relative_reference_index: 12			 #if you use 5,5 above, place 12 here
move_check_distance: 3
zero_reference_position: 150,150

algorithm: lagrange
fade_start: 1
fade_end: 10
fade_target: 0
split_delta_z: 0.0125
mesh_pps: 2,2

[idle_timeout]
timeout: 72000


[input_shaper]
#shaper_freq_x: 65.8
#shaper_type_x: zv
damping_ratio_x: 0.01
#shaper_freq_y: 47.4
#shaper_type_y: mzv
damping_ratio_y: 0.01

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.001875, -0.016250, 0.005000
#*# 	  0.008750, 0.001875, 0.013125
#*# 	  -0.023125, 0.007500, 0.042500
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 120.173
#*# max_x = 181.973
#*# min_y = 47.7004
#*# max_y = 107.2404
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 58.4
#*# shaper_type_y = ei
#*# shaper_freq_y = 46.2
#*#
#*# [tool_probe T0]
#*# z_offset = -1.240625
#*#
#*# [tool_probe T1]
#*# z_offset = -1.211250
#*#
#*# [tool_probe T2]
#*# z_offset = -0.969375
#*#
#*# [tool_probe T3]
#*# z_offset = -1.351875
#*#
#*# [tool_probe T4]
#*# z_offset = -1.055625
#*#
#*# [tool T0]
#*# params_park_x = 14.200000000000001
#*# params_park_y = 30.099999999999994
#*# params_park_z = 2
#*#
#*# [tool T1]
#*# gcode_x_offset = 0.367188
#*# gcode_y_offset = -1.151562
#*# gcode_z_offset = 0.365625
#*# params_park_x = 82.4
#*# params_park_y = 30.5
#*# params_park_z = 0.8
#*#
#*# [tool T2]
#*# params_park_x = 150.4
#*# params_park_y = 30.599999999999987
#*# params_park_z = 1
#*# gcode_x_offset = -0.043750
#*# gcode_y_offset = -0.981250
#*# gcode_z_offset = 0.417500
#*#
#*# [tool T3]
#*# params_park_x = 218.09999999999997
#*# params_park_y = 30.799999999999983
#*# params_park_z = 1.5
#*# gcode_x_offset = 0.146875
#*# gcode_y_offset = -1.293750
#*# gcode_z_offset = 0.509375
#*#
#*# [tool T4]
#*# params_park_x = 286.5
#*# params_park_y = 30.5
#*# params_park_z = 1.3
#*# gcode_x_offset = 0.334375
#*# gcode_y_offset = -0.707812
#*# gcode_z_offset = 0.277500
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.891
#*# pid_ki = 10.137
#*# pid_kd = 20.585
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 28.816
#*# pid_ki = 12.006
#*# pid_kd = 17.290
#*#
#*# [extruder2]
#*# control = pid
#*# pid_kp = 31.891
#*# pid_ki = 15.186
#*# pid_kd = 16.743
#*#
#*# [extruder3]
#*# control = pid
#*# pid_kp = 33.375
#*# pid_ki = 15.893
#*# pid_kd = 17.522
#*#
#*# [extruder4]
#*# control = pid
#*# pid_kp = 33.733
#*# pid_ki = 13.228
#*# pid_kd = 21.505
#*#
#*# [probe]
#*# z_offset = -1.081875
